<app-breadcrumb [heading]="'F.A.Q'" [descTitle]="'Frequently Asked Questions'"
  [descText]="'Find answers to common questions about our services and process.'"
  [links]="[{name: 'FAQ', path: '/faq'}]">
</app-breadcrumb>

<div class="container mt-5  mb-5">
  <div class="row" data-aos="fade-up" data-aos-duration="1000">
    <div class="col-md-12 p-4 rounded-4">
      <!-- <h2 style="font-size: 2rem;letter-spacing: -.025em;font-weight: 700;color: #0093ac;">Quality Excellence</h2> -->
      <mat-accordion>
        <mat-expansion-panel (opened)="true">
          <mat-expansion-panel-header>
            <mat-panel-title>What is Krov Health Pvt. Ltd.?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Krov Health Pvt. Ltd. is a prominent PCD Pharma company in India, dedicated to providing high-quality
            pharmaceutical products, including the latest DCGI-approved molecules.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>What types of products does Krov Health offer?</mat-panel-title>
          </mat-expansion-panel-header>
          <p>We offer a comprehensive range of pharmaceutical products, including antibiotics, gastrointestinal
            medicines, multivitamins, ayurvedic products, dermatological care, and more. All our liquid products and
            protein powders are 100% sugar-free.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>How can I apply for a franchise with Krov Health?</mat-panel-title>
          </mat-expansion-panel-header>
          <p>We offer exclusive monopoly rights and are expanding our business into untapped areas. To apply for a
            franchise, visit our 'Apply for Franchise' page and fill out the application form.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>In which regions does Krov Health operate?</mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            We have a presence across multiple states and union territories in India, including Maharashtra, Bihar, Gujarat, Delhi, Karnataka, Uttar Pradesh, Haryana, Punjab, Tamil Nadu, Chandigarh, Himachal Pradesh, Andra Pradesh and many more.</p>
        </mat-expansion-panel>

        <h2 class="text-center mt-4" style="font-size: 2rem;letter-spacing: -.025em;font-weight: 700;">What are key
          Features of the PCD Pharma Franchise</h2>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Exclusive Geographical Rights</mat-panel-title>
          </mat-expansion-panel-header>
          <p>Krov Health grants franchise partners exclusive rights to market and distribute its pharmaceutical
            products within a designated geographical area, ensuring minimal competition and maximum market potential.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Low Investment, High Returns</mat-panel-title>
          </mat-expansion-panel-header>
          <p>Partnering with Krov Health requires a low initial investment compared to setting up an independent
            pharma business. Franchisees benefit from eliminating costs related to R&D, manufacturing, and product
            registration, making it a cost-effective opportunity with high-profit potential.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Comprehensive Marketing Support </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Krov Health provides its franchise partners with full marketing support, including promotional materials, training, and strategic assistance to help maximize sales and market penetration.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>High-Profit Margins </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            The PCD Pharma Franchise model offers high-profit margins due to low operational costs and strong product demand. Krov Health ensures competitive pricing to help franchisees achieve consistent growth and profitability.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Access to WHO-GMP Certified Products </mat-panel-title>
          </mat-expansion-panel-header>
          <p> 
            Franchisees gain access to a premium range of pharmaceutical products, all of which are WHO-GMP and ISO certified, ensuring top-tier quality, safety, and efficacy. Our diverse product portfolio covers multiple therapeutic segments, including antibiotics, multivitamins, gynecology, dermatology, cardiac & diabetic care, and more. </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Regulatory Compliance & Hassle-Free Operations </mat-panel-title>
          </mat-expansion-panel-header>
          <p> 
            Krov Health ensures that all manufacturing, packaging, labeling, and distribution processes adhere to strict regulatory standards, allowing franchise partners to focus solely on sales and business expansion without compliance concerns. </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Flexible Business Model</mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Franchise partners can operate from a home office or a small rented space, allowing for greater flexibility in managing the business. Krov Health offers support in setting up operations, staff recruitment, and business scaling to facilitate long-term success.</p>
        </mat-expansion-panel>


        <!-- <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                  <mat-expansion-panel-header>
                    <mat-panel-title> Self aware panel </mat-panel-title>
                    <mat-panel-description>
                      Currently I am {{panelOpenState() ? 'open' : 'closed'}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel> -->
      </mat-accordion>
    </div>

  </div>
</div>