.nav-link {
    color: #007799 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}
.nav-link:hover {
    color: #fff !important;
}