<nav class="navbar navbar-expand-lg shadow" style="backdrop-filter: blur(6px);background-color: #01AAC133;position: fixed;left:0;right:0;top:0px;z-index: 1000;">
    <div class="container-fluid">
      <a class="navbar-brand text-light heartbeat-element" routerLink="/">
        <!-- <span style="color:#ffffff">INAAYA</span><span style="color:#aaaaff">HEALTHTECH</span> -->
        <img src="krov2.svg" alt="logo" style="height: 2.0rem;top: 3px;position: relative;left: 25px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-light active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/mission-and-vision">Mission & Vision</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/faq">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/franchise">Franchise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/products">Products</a>
          </li>
        </ul>
        <span class="navbar-text">
          <a href="tel:+918210614418" class="btn btn-primary text-light">Book Appointment</a>
        </span>
      </div>
    </div>
  </nav>