<div class="container-fluid" style="background-color: #01AAC1;">
    <!-- <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a routerLink="/about" class="nav-link px-2 text-body-secondary">About</a></li>
        <li class="nav-item"><a routerLink="/contact" class="nav-link px-2 text-body-secondary">Contact</a></li>
        <li class="nav-item"><a routerLink="/mission-and-vision" class="nav-link px-2 text-body-secondary">Mission & Vision</a></li>
        <li class="nav-item"><a routerLink="/faq" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a routerLink="/franchise" class="nav-link px-2 text-body-secondary">Franchise</a></li>
        <li class="nav-item"><a routerLink="/products" class="nav-link px-2 text-body-secondary">Products</a></li> 
      </ul>
      <p class="text-center text-body-secondary" style="font-weight: 500;font-size: 12px;">© 2025 InaayaHealthTech</p>
      <p class="text-center" style="font-weight: 500;font-size: 12px;color: #ddd;letter-spacing: 3px;">Designed by CodeRelisher.com</p>
    </footer> -->

    <footer class="py-5 px-5">
      <div class="row">
        <div class="col-md-4 mb-3 text-center" data-aos="fade-up" data-aos-duration="2000">
          <!-- <h5 class="text-light mb-4" style="font-size: 1.5rem;">Krov Healthcare Private Limited</h5> -->
          <div style="width: 255px;padding: 10px;height: 45px;background: #fff;border-radius: 10px;margin: 0px auto 20px auto;">
            <img src="krov2.svg" alt="logo" style="width:300px">
          </div>
          <p class="text-light">Dedicated to developing innovative pharmaceutical solutions that enhance quality of life and address critical healthcare challenges worldwide.</p>

          <ul class="list-unstyled d-flex" style="justify-content: center;">
            <li data-aos="fade-up" data-aos-duration="1000" class="ms-3"><a class="link-body-emphasis text-light" href="#" aria-label="Instagram"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram w-5 h-5" data-lov-id="src/components/Footer.tsx:31:16" data-lov-name="Instagram" data-component-path="src/components/Footer.tsx" data-component-line="31" data-component-file="Footer.tsx" data-component-name="Instagram" data-component-content="%7B%22className%22%3A%22w-5%20h-5%22%7D"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line></svg></a></li>
            <li data-aos="fade-up" data-aos-duration="1500" class="ms-3">
              <a class="link-body-emphasis text-light" href="#" aria-label="Instagram">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                </svg>
              </a>
            </li>
            <!-- <li data-aos="fade-up" data-aos-duration="2000" class="ms-3">
              <a class="link-body-emphasis text-light" href="#" aria-label="Instagram">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                  <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
                </svg>
              </a>
            </li> -->
            <li data-aos="fade-up" data-aos-duration="2000" class="ms-3">
              <a class="link-body-emphasis text-light" href="#" aria-label="Instagram">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>
  
        <div class="col-md-2 mb-3" data-aos="fade-up" data-aos-duration="1000">
          <h5 class="text-light mb-4" style="font-size: 1.5rem;">Quick Link</h5>
          <ul class="nav flex-column">
            <li data-aos="fade-up" data-aos-duration="1000" class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary" mat-button><mat-icon>keyboard_arrow_right</mat-icon> Home</a></li>
            <li data-aos="fade-up" data-aos-duration="1100" class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary" mat-button><mat-icon>keyboard_arrow_right</mat-icon> About</a></li>
            <li data-aos="fade-up" data-aos-duration="1200" class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary" mat-button><mat-icon>keyboard_arrow_right</mat-icon> Contact</a></li>
            <li data-aos="fade-up" data-aos-duration="1300" class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary" mat-button><mat-icon>keyboard_arrow_right</mat-icon> Services</a></li>
            <li data-aos="fade-up" data-aos-duration="1400" class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary" mat-button><mat-icon>keyboard_arrow_right</mat-icon> Mission & Vision</a></li>
            <li data-aos="fade-up" data-aos-duration="1500" class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary" mat-button><mat-icon>keyboard_arrow_right</mat-icon> Franchise</a></li>
            <li data-aos="fade-up" data-aos-duration="1600" class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary" mat-button><mat-icon>keyboard_arrow_right</mat-icon> Products</a></li>
            <li data-aos="fade-up" data-aos-duration="1700" class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary" mat-button><mat-icon>keyboard_arrow_right</mat-icon> F.A.Q.</a></li>
          </ul>
        </div>
  
        <div class="col-md-2 mb-3" data-aos="fade-up" data-aos-duration="1000">
          <h5 class="text-light mb-4" style="font-size: 1.5rem;">Our Products</h5>
          <ul class="nav flex-column">
            <li data-aos="fade-up" data-aos-duration="2000" class="nav-item" *ngFor="let c of category"><a routerLink="/products/{{ c }}" class="nav-link p-0 text-body-secondary" mat-button><mat-icon>keyboard_arrow_right</mat-icon> {{ c | titlecase }}</a></li>
          </ul>
        </div>
  
        <div class="col-md-4 mb-3" data-aos="fade-up" data-aos-duration="1000">
          <h5 class="text-light mb-4" style="font-size: 1.5rem;">Contact Us</h5>
          <div data-aos="fade-up" data-aos-duration="1000" class="text-light address"><mat-icon class="me-4">map</mat-icon> Krov Healthcare&nbsp;Private Limited, Rangia Mandi, Ambala Cantt. Haryana 133004</div>
          <div data-aos="fade-up" data-aos-duration="1400" class="text-light address"><mat-icon class="me-4">phone</mat-icon> +918210614418</div>
          <div data-aos="fade-up" data-aos-duration="1800" class="text-light address"><mat-icon class="me-4">email</mat-icon> krovhealthcare
            {{ '@' }}gmail.com</div>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-2 my-4" style="border-top: 1px solid #ffffff33;">
        <!-- <p class="text-light">© 2025 Krov Healthcare Private Limited. All rights reserved.</p> -->
        <p class="text-start" style="font-weight: 500;font-size: 12px;color: #ddd;letter-spacing: 0px;">© 2025 Krov Healthcare Private Limited. All rights reserved.</p>
        <p class="text-start" style="font-weight: 500;font-size: 12px;color: #ddd;letter-spacing: 3px;">Designed by <a style="color:#ddd;text-decoration: none;font-weight: 700;" href="https://coderelisher.com">CodeRelisher.com</a></p>
      </div>
    </footer>
</div>