<app-breadcrumb [heading]="'ABOUT US'" [descTitle]="'About Krov Healthcare Private Limited'"
    [descText]="'Krov Healthcare: Empowering proactive health management through accurate and accessible testing. Your wellness journey starts with Krov – reliable insights for a healthier you.'"
    [links]="[{name: 'About', path: '/about'}]" [icon]="'store'">
</app-breadcrumb>

<div class="container mt-5  mb-5">
    <div class="row rounded-4" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-md-6 p-4">
            <img src="about1.jpg" class="rounded-3 w-100" />
        </div>
        <div class="col-md-6 p-4">
            <h2 style="font-size: 2rem;letter-spacing: -.025em;font-weight: 700;">Welcome to Krov Healthcare Pvt. Ltd</h2>
            <p>Krov Healthcare: Empowering proactive health management through accurate and accessible testing. Your wellness journey starts with Krov – reliable insights for a healthier you.</p>
        </div>
    </div>
</div>