<app-breadcrumb 
    [heading]="'MISSION & VISION'"
    [descTitle]="'Krov Health Private Limited Mission'"
    [descText]="'We are guided by a set of core principles that inform everything we do.'" 
    [links]="[{name: 'Mission & Vision', 
    path: '/mission-and-vision'}]">
</app-breadcrumb>

<div class="container mt-5  mb-5">
    <div class="row" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-md-12 p-4 my-4 shadow rounded-4">
            <h2 style="font-size: 2rem;letter-spacing: -.025em;font-weight: 700;">Our Mission</h2>
            <p>Our mission is to be recognized as a leading PCD Pharma company, renowned for delivering superior quality herbal and pharmaceutical products. We are committed to fostering mutually rewarding, long-term partnerships with our suppliers, the pharmaceutical and healthcare community, and our field associates across all markets in India. We have established a streamlined logistics system, advanced storage solutions, and rigorous quality control protocols, adhering to the highest standards in the PCD Pharma industry. Our dedicated team of experienced quality controllers meticulously oversees each stage of our operations, ensuring excellence at every step. This commitment to quality enables us to meet the diverse needs of our esteemed clientele across India, solidifying our position as one of the leading PCD Pharma companies in the country.</p>
            <p>We have a complete range of Antibiotic, Analgesic, Gastro & PPI, Anti Histaminic And Cough & Cold, Paediatric, Gynae, Ayurvedic, Dry & Liquid Injections, Dental, Eye And Ent, Ayurvedic Etc. Moreover, Our All Liquid Products And Protein Powders Are 100% Sugar Free. </p>
        </div>

        <div class="col-md-4 p-4 shadow rounded-4">
            <h2 style="font-size: 2rem;letter-spacing: -.025em;font-weight: 700;color: #01AAC1;">Quality Excellence</h2>
            <p>We believe in creating pharmaceutical products that meet the highest standards of quality, efficacy, and safety to improve patient outcomes.</p>
        </div>
        <div class="col-md-4 p-4 shadow rounded-4">
            <h2 style="font-size: 2rem;letter-spacing: -.025em;font-weight: 700;color: #01AAC1;">Patient-Centered Approach</h2>
            <p>Patients are at the heart of everything we do. We develop solutions with their needs in mind, focusing on accessibility and effectiveness.</p>
        </div>
        <div class="col-md-4 p-4 shadow rounded-4">
            <h2 style="font-size: 2rem;letter-spacing: -.025em;font-weight: 700;color: #01AAC1;">Integrity & Transparency</h2>
            <p>We operate with honesty and transparency throughout our processes, ensuring clear communication and trustworthy products.</p>
        </div>
    </div>
</div>